.main_grid {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
}
body {
  background-color: #3a3a3a;
  height: 100vh;
  overflow: hidden;
}
.grid {
  border: 1px solid #fafafa;
}
.invents {
  margin-top: 2rem;
}
.invent {
  display: flex;
}
